<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- Si necesitas definir secciones adicionales, agrégalas aquí -->
	</configSections>
	<connectionStrings>
  <add name="INVENTARIO" connectionString="Data Source=VLADIMIR\SQLEXPRESS ;Database=ATLAS_INVENTARIO ;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
  <add name="GestorInventario.Properties.Settings.conexionDB" connectionString="Data Source=VLADIMIR\SQLEXPRESS;Initial Catalog=ATLAS_INVENTARIO;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
